.Ultility-page {
  width: 100vw;
  height: auto;
  background: black;
  margin-left: 0;
  margin-right: 0;
}

.Welcome-img {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px yellow solid;
}
.Welcome-button {
  margin-top: 2%;
}

.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.Login-div {
  color: white;
  width: 30%;
  height: 30%;
}

.Register-div {
  color: white;
  width: 30%;
  height: auto;
}

.buttonForShow-div {
  color: white;
  height: 70%;
  width: 100%;
  border: yellow 1px solid;
}

.userBlock {
  color: white;
  align-items: center;
  width: auto;
  height: auto;
  border: yellow 1px solid;
  border-radius: 30px;
}
.red-border {
  border: red 1px solid;
}

.BlogBox {
  width: 100%;
  height: auto;
}
.BlogBox #imgBody {
  width: 100%;
}
