@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  user-select: none;
  background-color: #15202b !important;
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

.Ultility-page {
  width: 100vw;
  height: auto;
}

/* Buttons */

.btn-dark {
  border-radius: 9999px;
  padding: 0 2em;
  border: 1px solid #1da1f2 !important;
  outline: none;
  background: transparent !important;
  color: #1da1f2 !important;
  transition: 0.2s;
  height: 3em;
  box-sizing: content-box !important;
}

.btn-dark:hover {
  background-color: hsla(210, 34%, 20%, 0.2) !important;
}

.btn-light {
  border-radius: 9999px;
  padding: 0 2em;
  border: 0 !important;
  outline: none;
  background-color: #1da1f2 !important;
  color: white !important;
  transition: 0.2s;
  height: 3em;
  box-sizing: content-box !important;
}

.btn-light:hover {
  background-color: hsl(203, 89%, 45%) !important;
}

/* Welcome Page */

.welcome-page {
  display: flex;
  justify-content: center;
}

.Welcome-img {
  height: 100vh;
  /* max-width: 80rem; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
}

.overlay1 {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, #15202b, transparent);
}

.Welcome-img img {
  height: 100%;
  object-fit: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transform: scaleX(-1);
}

.welcome-page-right {
  padding-left: 3rem !important;
}

.form-login {
  height: 4rem;
  margin-top: 1rem;
  display: flex;
}

.form-text-input {
  height: 80%;
  outline: none;
  background: transparent;
  color: white;
  padding: 0 0.5rem;
  margin: 0;
  border: 1px solid hsl(206, 16%, 26%);
  border-radius: 4px;
  margin-right: 1rem;
  max-width: 20rem;
}

.form-text-input:focus {
  background: transparent;
  border: 1px solid #1da1f2;
}

.form-login button {
}

::placeholder {
  color: #8899a6;
}

.welcome-page-right-bot {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  justify-content: center;
  height: 80vh;
}

.welcome-page-right-bot h1 {
  font-size: 4rem;
  margin-bottom: 1em !important;
}

.welcome-page-right-bot button {
  margin-top: 1rem;
}

.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/* HOMEPAGE */
.main-page {
  /* border: 1px solid black; */
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end !important;
  width: 17rem;
  height: 100vh;
  padding: 0 0.5rem !important;
  /* border: 1px solid blue; */
  position: sticky !important;
  top: 0;
  flex-wrap: nowrap !important;
  box-sizing: content-box !important;
}

.navbar-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-logo {
  color: white;
  font-size: 2.5rem !important;
  cursor: pointer;
  margin: 1rem;
}

.nav-link {
  font-size: 1.3rem !important;
  font-weight: 600;
  /* border: 1px solid green; */
  display: flex !important;
  align-items: center;
  padding: 0.6em 0.8em !important;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 9999px;
  box-sizing: content-box !important;
}

.nav-icon {
  font-size: 2rem !important;
  margin-right: 0.6em;
  margin-left: 0.1em;
}

.nav-link:hover {
  color: #1da1f2;
  background-color: hsl(203, 89%, 15%);
}

.user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.user {
  font-size: 1rem !important;
  width: 100%;
  display: flex !important;
  position: relative;
}

.user img {
  margin-right: 1em;
}

.user p {
  font-weight: normal;
  color: #8899a6;
  font-size: 0.9rem;
}

.user button {
  font-size: 0.7rem;
}

.user-name-email {
  margin-right: 1em;
}

.more-button:hover {
  color: white;
}

.log-out {
  cursor: pointer !important;
  color: #8899a6 !important;
  font-size: 0.7rem;
  text-align: center;
}

.log-out:hover {
  text-decoration: none !important;
  color: #1da1f2 !important;
}

/* Middle section */
.App-mid {
  width: 37rem;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
}

/* Tweet form */

.tweet-form {
  height: 12rem;
  border: 1px solid hsl(206, 16%, 26%);
  border-top: none;
  display: flex;
  padding: 0.7rem 0;
}

.tweet-left {
  /* border: 1px solid lightgrey; */
  text-align: center;
}

.tweet-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.tweet-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid lightgrey; */
}

.tweet-right input {
  height: 2rem;
}

textarea {
  display: block;
  width: 95% !important;
  padding: 0;
  border: none;
  border-bottom: 1px solid hsl(206, 16%, 26%);
  /* border: 1px solid lightgrey; */
  outline: none;
  font-size: 1.3rem;
<<<<<<< HEAD
  resize: none;
=======
  resize:none !important;
>>>>>>> 9d1965a23aba2bfa3391825e758cced5ca3e31aa
  overflow: auto;
  font-family: inherit;
  padding: 0.5rem;
  background: transparent;
  color: white;
  margin-bottom: 0.5rem !important;
}

::placeholder {
  color: #8899a6;
}

.tweet-right-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem;
  padding-bottom: 0;
  width: 95%;
}

.tweet-right-bot button {
  font-size: 0.8rem !important;
  margin: 0;
}

.tweet-right-bot .nav-link {
  font-size: 1.5rem !important;
  padding: 0.5em !important;
}

.page-header {
  height: 3rem;
  padding: 0 1em;
  border: 1px solid hsl(206, 16%, 26%);
  border-top: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.spacer {
  background-color: #192734;
  height: 0.8rem;
  border: 1px solid hsl(206, 16%, 26%);
  border-top: none;
}

/* single tweet */

.tweet {
  border: 1px solid hsl(206, 16%, 26%);
  border-top: none;
  display: flex;
  padding: 0.7rem 0;
}

.tweet-header {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.custom-link {
  font-size: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  padding: 0.5em 0.5em;
  color:white;
}

.custom-link:hover {
  background-color: #192734;
  text-decoration: none;
  color:hsl(203, 89%, 45%) !important;
}

.tweet-user-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.tweet-user-email {
  font-weight: normal;
  color: #8899a6;
  font-size: 0.9rem;
  margin-right: 1rem !important;
}

.time {
  color: #8899a6;
}

.img-box {
  width: 95%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  object-position: center;
}

.img-box img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.tweet-text {
  margin-bottom: 0.6rem !important;
}

.tweet-reactions {
  color: #8899a6;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 0.6rem;
  transition: 0.2s;
}

.tweet-reactions:hover {
  color: hsl(330, 50%, 50%);
}

.tweet-reactions span {
  margin-right: 0.2em;
}

/* Details page */
.review-form {
  height: auto;
}

.reactions {
  padding-top: 0.5rem;
}

.reactions button {
  margin-right: 0.5rem;
}
